@keyframes disappear {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes wave {
    0% {
        transform: scale(0.5);
        color: $primary-color;
    }
    30% {
        transform: scale(1);
        filter: drop-shadow(0 0 1px $primary-color) drop-shadow(0 0 1px $secondary-color) drop-shadow(0 0 3px $primary-color) drop-shadow(0 0 5px $primary-color) hue-rotate(10turn);
    }
    60% {
        transform: scale(0.5);
        color: $primary-color;
    }
}

@keyframes shimmy {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
        background-size: auto 100%;
        transform: scale(0);
    }
    90% {
        background-size: auto 10%;
    }
    100% {
        opacity: 1;
        background-size: auto;
        transform: scale(1);
    }
}