
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$green-color:#99E2D0;
$green-dark-color: #008766;
$blue-color:#89C8FA;
$blue-dark-color:#003A68;
$grey-color: #353535;
$grey-light-color:#EAEAEA;
$background-color:#F6F6F6;
$text-color:black;
$white: white;
$desktop:1024px;
$tablet:800px;
